* {
    background-color: aqua;
    font-family: arial, sans-serif;
    margin: 0;
}
    
h1 {
    height: 28em;
    color: rgb(28, 137, 233);
}

  body  {
    /* something */
  }
  
  #container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #container > div {
    display: flex;
  }
  
  #navbar {
    padding: 2em;
    justify-content: space-evenly;
  }
  
  
  /* #main-section > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  /* .red {
    background-color: #b05f6d;
    color: white;
  }
   */
  /* .blue {
    background-color: #275db3;
    color: white;
  } */
  